.paper {
    max-width: 850px;
    min-height: 500px;
}

.rooms-table-container {
    border-radius: 10px;
}

.table-header-cell {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

.abc {
    min-height: 500px;
}
